<div style="text-align: center;">
    <span style="font-weight: bold;">Sign Up</span>


    <p>Login
        <input class="max-w-xs mr-4 input-feild" matInput placeholder="Login" formControlName="foldId" />
    </p>

    <p>Password
        <input type="password" class="max-w-xs mr-4 input-feild" matInput placeholder="Password" formControlName="foldId" />
    </p>

    <p>Email
        <input class="max-w-xs mr-4 input-feild" matInput placeholder="Email" formControlName="foldId" />
    </p>

    <p>Gender
        <input class="max-w-xs mr-4 input-feild" matInput placeholder="Gender" formControlName="foldId" />
    </p>

    <p>Age
        <input class="max-w-xs mr-4 input-feild" matInput placeholder="Age" formControlName="foldId" />
    </p>

    <button>OK</button>
</div>