<div style="text-align: center;">
    <span style="font-weight: bold;">Sign Up</span>


    <p>Login
        <input [(ngModel)] = "login" class="max-w-xs mr-4 input-feild" matInput placeholder="Login" />
        {{login}}
    </p>

    <p>Password
        <input [(ngModel)]="password" type="password" class="max-w-xs mr-4 input-feild" matInput placeholder="Password"  />
        {{password}}
    </p>

    <p>Email
        <input class="max-w-xs mr-4 input-feild" matInput placeholder="Email" />
    </p>

    <p>Gender
        <input class="max-w-xs mr-4 input-feild" matInput placeholder="Gender" />
    </p>

    <p>Age
        <input class="max-w-xs mr-4 input-feild" matInput placeholder="Age"  />
    </p>

    <button>OK</button>
</div>