@import '~@fortawesome/fontawesome-free/css/all.css';
.avatar {
    width: 100px; /* Ajustez la taille selon vos besoins */
    height: 100px;
    background-color: #3498db; /* Couleur de fond de l'avatar */
    border-radius: 50%; /* Créer une forme ronde */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Couleur de l'icône */
  }